<form class="form-horizontal">
  <div class="form-group">
    <label for="descriptionField" class="col-sm-2 control-label">Descrição</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="descriptionField" placeholder="Descrição">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Técnico</label>
    <div class="col-sm-5">
      <select class="form-control">
        <option value="1">Paulo</option>
        <option value="2">Rafael</option>
        <option value="3">Rogério</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Agendar</button>
    </div>
  </div>
</form>
